:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #0b5ed7;
  text-decoration: inherit;
}
a:hover {
  color: #0a53be;
}

body {
  font-size: small;
}

div {
  float: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h3 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

p {
  display: inline;
}

summary {
  font-weight: 600;
  font-size: smaller;
  color: #0b5ed7;
  text-transform: uppercase;
}

svg {
  color: #0a53be;
  stroke: #6ec101;
  stroke-width: 1.5;
}

table {
  table-layout: fixed;
  width: 100%;
  font-size: smaller;
}

th {
  text-transform: uppercase;
  font-size: xx-small;
}

.accordion-button {
  font-size: small !important;
}

.glossary {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  border: none !important;
}

.medium {
  font-weight: 600;
  color: #242424;
}

.muted {
  font-size: smaller;
  color: grey;
}

.navbar :a {
  font-weight: 800;
}

.pagination {
  font-weight: 700;
  font-size: smaller;
  color: white;
}

.small {
  font-size: small;
}

.smaller {
  font-size: smaller;
}

.spinner {
  position: relative;
  top: 50%;
  left: 50%;
}

.subtitle {
  font-weight: 600;
  font-size: small;
  color: grey;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #0a53be;
  }
  button {
    background-color: #f9f9f9;
  }
}
